#header span {
  padding: 0;
  margin-top: -30px;
  color: rgb(255, 255, 255);
  font-size: 10pt;
  }

#header #search {
	position: absolute;
	float: right;
	margin: 140px 0 0 165px;
	width: 300px;
}

#header #toprss img{
	-ms-interpolation-mode: bicubic;
}